{% extends 'base.html' %}

{% block title %}
Вход
{% endblock %}
{% block sidebar %}{% endblock %}
{% block content %}

<h1 class="mb-6 text-center text-2xl font-bold">Вход</h1>

<form method="POST" class="mx-auto grid max-w-lg grid-cols-[140px_1fr] gap-4">

    {{ form.hidden_tag() }}

    <label>Имя пользователя</label>
    {{ form.username(class="input") }}

    <label>Пароль</label>
    {{ form.password(class="input") }}

    <div></div>
    {{ form.submit(class="button button-primary") }}

</form>

<div class="mt-6 text-center">
    <a
        href="{{ url_for('auth.register') }}"
        class="text-blue-600 hover:underline"
    >
        Нет аккаунта? Зарегистрироваться
    </a>
</div>

<div class="text-center">
    {% for error in form.username.errors%}
        <p class="mt-1 text-sm text-red-600">{{ error }}</p>
    {% endfor %}
</div>
{% endblock %}