{% extends 'base.html' %}

{% block body %}

<h1>Добавить сотрудника</h1>

<form method="POST">

    <label>Имя</label>
    <input type="text" name="name" value="{{ employee['name'] if employee else '' }}" required>

    <label>Email</label>
    <input type="email" name="email" value="{{ employee['email'] if employee else '' }}" required>

    <label>Должность</label>
    <input type="text" name="position" value="{{ employee['position'] if employee else '' }}" required>

    <button type="submit">Сохранить</button>

</form>

{% endblock %}