{% extends 'base.html' %}

{% block head %}
    <title>App</title> 
{% endblock %}

{% block body %}
<div class="container">

    <nav class="nav-bar" id="nav-bar" aria-hidden="true">
        <div class="nav-bar-header">

        </div>
        <ul class="nav-list">
            <li class="nav-bar-item"><a href="#" class="nav-link">Сотрудники</a></li>
            <li class="nav-bar-item"><a href="#" class="nav-link">Компании</a></li>
                        <li class="nav-bar-item"><a href="#" class="nav-link">Скважины</a></li>
            <li class="nav-bar-item"><a href="#" class="nav-link">Dashboard</a></li>
        </ul>
    </nav>

    <main class="content">

        <div class="data-row">
            <h1>Данные</h1>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <label for = "upload">Выберите файл</label>
                <span id="file-name">нет документа</span>
                <input type="file" name="excel_file" accept=".xlsx,.xls" id="upload" required>
                <button type="submit">Загрузить</button>
            </form>

            <form action="/download" method="GET" enctype="multipart/form-data">
                <button type="submit">Скачать</button>
            </form>
        </div>           


        <div class="data-row">
            <h1>Добавить</h1>

            <a href="{{ url_for('create_employee') }}">
                <button>Добавить сотрудника</button>
            </a>
        </div>

        {% for employee in employees %}
        <div class="data-row">

            <div class="data-info">
                {% for value in employee.values() %}
                <span>{{ value }}</span>
                {% endfor %}
            </div>

            <div class="data-actions">
                <a href="{{ url_for('edit_employee', id=employee['id']) }}" method="POST">
                    <button class="info-btn"> Редактировать </button>
                </a>
                <form action="{{ url_for('delete_employee', id=employee['id']) }}" method="POST">
                    <button class="delete-btn" type="submit"> Удалить </button>
                </form>
            </div>

        </div>
        {% endfor %}


    </main> 

</div>  
{% endblock %}