<!DOCTYPE html> 
<html lang="en"> 
<head>
    <meta charset="UTF-8"> 
    <title>App</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 

</head> 

<body>

    <div class="container">

        <nav class="nav-bar" id="nav-bar" aria-hidden="true">
            <div class="nav-bar-header">

            </div>
            <ul class="nav-list">
                <li class="nav-bar-item"><a href="#" class="nav-link">Сотрудники</a></li>
                <li class="nav-bar-item"><a href="#" class="nav-link">Компании</a></li>
                            <li class="nav-bar-item"><a href="#" class="nav-link">Скважины</a></li>
                <li class="nav-bar-item"><a href="#" class="nav-link">Dashboard</a></li>
            </ul>
        </nav>

        <main class="content">

             <div class="info-block">
                <h1>Main Page</h1>
                <p>content</p>
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <input type="file" name="excel_file" accept=".xlsx,.xls" required>
                    <button type="submit">Excel</button>
                </form>
            </div>           


            {% for employee in employees %}
            <div class="data-row">

                <div class="data-info">
                    {% for value in employee.values() %}
                        <span>{{ value }}</span>
                    {% endfor %}
                </div>

                <div class="data-actions">
                    <button class="info-btn">Инфо</button>
                    <button class="delete-btn">Удалить</button>
                </div>

            </div>
            {% endfor %}

        </main> 

    </div>  
</body>