{% extends 'base.html' %}
{% from "components/_ui.html" import form_card, wtf_field, form_actions %}

{% block content %}
{% call form_card("Создать рапорт") %}
<form method="POST" novalidate class="space-y-5">
    {{ form.hidden_tag() }}
    {{ wtf_field("Скважина (id)", form.well_id) }}
    {{ wtf_field("Дата", form.date) }}
    {{ wtf_field("Время работы", form.operating_hours) }}
    {{ wtf_field("Жидкость", form.liquid_produced) }}
    {{ wtf_field("Обводненность", form.water_cut) }}
    {{ wtf_field("Плотность", form.density) }}
    {{ form_actions(url_for('daily_productions.daily_productions')) }}
</form>
{% endcall %}
{% endblock %}