{% extends 'base.html' %}
{% from "components/_ui.html" import form_card, field, form_actions %}

{% block content %}
{% call form_card("Добавить скважину") %}
<form method="POST" class="space-y-5">
    {{ field("Название", "name", well.name if well else '') }}
    {{ field("Тип", "type", well.type if well else '') }}
    {{ field("Максимальная глубина бурения", "max_drilling_depth", well.max_drilling_depth if well else '') }}
    {{ field("Компания (id)", "company_id", well.oil_company_id if well else '') }}
    {{ form_actions(url_for('wells.wells')) }}
</form>
{% endcall %}
{% endblock %}