{% extends 'base.html' %}
{% from "components/_ui.html" import form_card, field, form_actions %}

{% block content %}
{% call form_card("Добавить сотрудника") %}
<form method="POST" class="space-y-5">
    {{ field("Фамилия", "lName", employee.lName if employee else '') }}
    {{ field("Имя", "fName", employee.fName if employee else '') }}
    {{ field("Компания (id)", "company_id", employee.oil_company_id if employee else '') }}
    {{ form_actions(url_for('users.users')) }}
</form>
{% endcall %}
{% endblock %}
