{% extends 'base.html' %}

{% block head %}
    <title>App</title> 
{% endblock %}

{% block body %}

    <main class="content">

        <div class="data-row">
            <h1>Данные</h1>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <label for = "upload" id="label-upload">Выберите файл</label>
                <span id="file-name">-</span>
                <input type="file" name="excel_file" accept=".xlsx,.xls" id="upload" required>
                <button type="submit">Загрузить</button>
            </form>

            <form action="/download" method="GET" enctype="multipart/form-data">
                <button type="submit">Скачать</button>
            </form>
        </div>           


        <div class="data-row">
            <h1>Добавить</h1>

            <a href="{{ url_for('users.create_employee') }}">
                <button>Добавить сотрудника</button>
            </a>
        </div>

        {% if employees | length < 1 %}
        <h1> Нет сотрудников </h1>
        {% else %}
        {% for employee in employees %}
        <div class="data-row">

            <div class="data-info">
                <span>{{ employee.id }}</span>
                <span>{{ employee.lName }}</span>
                <span>{{ employee.fName }}</span>
            </div>

            <div class="data-actions">
                <a href="{{ url_for('users.edit_employee', id=employee['id']) }}" method="POST">
                    <button class="info-btn"> Редактировать </button>
                </a>
                <form action="{{ url_for('users.delete_employee', id=employee['id']) }}" method="POST">
                    <button class="delete-btn" type="submit" onclick="return confirm('Вы уверены что хотите удалить сотрудника?');"> Удалить </button>
                </form>
            </div>

        </div>
        {% endfor %}
        {% endif %}

    </main> 

{% endblock %}