{% extends 'base.html' %}

{% block title %}
    Рапорты
{% endblock %}

{% block content %}           


    <div class="data-row">
        <h1 class="font-semibold ">Рапорты</h1>

        <a href="{{ url_for('daily_productions.create_daily_production') }}">
            <button class="button button-primary">Создать рапорт</button>
        </a>
    </div>


    <div class="data-row data-grid-report">
        <div class="font-semibold">Скважина (ID)</div>
        <div class="font-semibold">Дата</div>
        <div class="font-semibold">Время работы</div>
        <div class="font-semibold">Жидкость</div>
        <div class="font-semibold">Обводенность</div>
        <div class="font-semibold">Плотность</div>
        <div class="font-semibold">Чистая нефть</div>
        <div class="font-semibold text-center">Действия</div>
    </div>


    {% if reports | length < 1 %}
    <h1> Нет Данных </h1>
    {% else %}
    {% for report in reports %}
    <div class="data-row data-grid-report">

        <div>{{ report.well_id }}</div>
        <div>{{ report.date }}</div>
        <div>{{ report.operating_hours }}</div>
        <div>{{ report.liquid_produced }}</div>
        <div>{{ report.water_cut }}</div>
        <div>{{ report.density }}</div>
        <div>{{ "%.2f"|format(report.net_oil) }}</div>
    

        <div class="flex justify-end gap-2">
            <a href="{{ url_for('daily_productions.edit_daily_production',
                well_id=report.well_id,
                date=report.date) }}">
                <button class="button button-primary">
                    Редактировать
                </button>
            </a>

            <form action="{{ url_for('daily_productions.delete_daily_production',
                well_id=report.well_id,
                date=report.date) }}"
                method="POST">

                <button
                    class="button button-delete"
                    onclick="return confirm('Вы уверены что хотите удалить рапорт?')">
                    Удалить
                </button>
            </form>
        </div>

    </div>
    {% endfor %}
    {% endif %}


{% endblock %}   