{% extends 'base.html' %}

{% block title %}
    Скважины
{% endblock %}

{% block content %}
       


    <div class="data-row">
        <h1 class="font-semibold ">Скважины</h1>

        <a href="{{ url_for('wells.create_well') }}">
            <button class="button button-primary">Добавить скважину</button>
        </a>
    </div>

    <div class="data-row data-grid-wells">
        <div class="font-semibold">ID</div>
        <div class="font-semibold">Название</div>
        <div class="font-semibold">Тип</div>
        <div class="font-semibold">Глубина</div>
        <div class="font-semibold">Компания</div>
        <div class="font-semibold text-center">Действия</div>
    </div>

    {% if wells | length < 1 %}
    <h1> Нет Данных </h1>
    {% else %}
    {% for well in wells %}
    <div class="data-row data-grid-wells">
        <div>{{ well.id }}</div>
        <div>{{ well.name }}</div>
        <div>{{ well.type }}</div>
        <div>{{ well.max_drilling_depth }}</div>
        <div>{{ well.company.name}}</div>

        <div class="flex gap-2 justify-end">
            <a href="{{ url_for('wells.edit_well', id=well.id) }}">
                <button class="button button-primary">Редактировать</button>
            </a>

            <form action="{{ url_for('wells.delete_well', id=well.id) }}" method="POST">
                <button
                    class="button button-delete"
                    onclick="return confirm('Вы уверены что хотите удалить скважину?')">
                    Удалить
                </button>
            </form>
        </div>
    </div>
    {% endfor %}
    {% endif %}


{% endblock %}